/* starting at 375px width */

.container {
  height: 100vh;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.lineOne {
  font-weight: 200;
  font-size: 1.5rem;
  min-width: 316px;
  max-width: 774px;
  line-height: 2.85rem;
  letter-spacing: 0.2rem;
  will-change: transform;
}

.mapbook {
  letter-spacing: 0.45rem;
  font-weight: 400;
  font-family: "Josefin sans", sans-serif;
  background-color: #bbe1fa;
  color: #1b262c;
  padding-top: 0.3rem;
  padding-left: 0.4rem;
  border-radius: 0.35rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  height: fit-content;
  width: 320px;
  min-width: 250px;
  min-height: 300px;
  justify-content: center;
  line-height: 1.8rem;
  text-align: center;
  padding: 5rem 4rem;
  box-shadow: 10px 10px 15px 1px rgb(0, 0, 0, 0.25),
    -10px -10px 20px rgb(187, 255, 250, 0.03);
  border-radius: 2rem;
}
.formType {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.buttonin {
  display: flex;
  flex-direction: column;
}
.nextButton {
  font-size: 1.8rem;
  border: none;
  margin: 0;
  background-color: transparent;
  color: #bbe1fa;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 1;
  height: 29px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  isolation: isolate;
  transform: translateY(85px) translateX(1.5px);
  transition: 300ms;
  z-index: 1000;
}

.nextButton:disabled {
  opacity: 0;
  color: transparent;
  cursor: default;
}

.field {
  font-size: 1.35rem;
  font-weight: 300;
  letter-spacing: 0.12rem;
}
.fieldInput {
  background-color: #bbe1fa;
  border: 2px solid #bbe1fa;
  outline: none;
  height: 3rem;
  font-size: 1.2rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  padding-top: 0.2rem;
  letter-spacing: 0.05rem;
  color: #1b262c;
  text-align: center;
  border-radius: 0.75rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: 600ms;
}
.fieldInput:focus {
  width: 150px;
  height: 150px;
  background-color: #1b262c;
  border: 2px solid #bbe1fa;
  color: #bbe1fa;
  box-shadow: 0 0 10px #3282b8;
}
.fieldInputFocus {
  width: 150px;
  height: 150px;
  background-color: #1b262c;
  border: 2px solid #bbe1fa;
  color: #bbe1fa;
  box-shadow: 0 0 10px #3282b8;
}
.fieldInput::placeholder {
  transition: 400ms;
  color: #6b818f;
  opacity: 1;
}
.fieldInput:focus::placeholder {
  opacity: 0;
  width: 300px;
}

input {
  text-transform: capitalize;
}

.inputFieldMonth {
  /* -webkit-appearance: none; */
  background-color: #bbe1fa;
  border: 2px solid #bbe1fa;
  outline: none;
  height: 3rem;
  font-size: 1.2rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  padding-top: 0.2rem;
  letter-spacing: 0.05rem;
  color: #1b262c;
  text-align: center;
  text-indent: 13px;
  border-radius: 0.75rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: 600ms;
}
.forSafari {
  -webkit-appearance: none;
  appearance: none;
}
.inputFieldMonthActive {
  transition: 600ms;
  text-transform: capitalize;
  width: 150px;
  height: 150px;
  background-color: #1b262c;
  border: 2px solid #bbe1fa;
  color: #bbe1fa;
  box-shadow: 0 0 10px #3282b8;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

@media (width >= 414px) {
  .lineOne {
    font-size: 2rem;
  }
}

@media (width > 550px) {
  .lineOne {
    font-size: 2.7rem;
    line-height: 4.5rem;
  }

  .formContainer {
    width: 400px;
  }

  .field {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

@media (width > 778px) {
  .container {
    gap: 2.5rem;
  }

  .lineOne {
    font-size: 3.1rem;
    line-height: 4.5rem;
  }

  .formContainer {
    width: 400px;
  }

  .field {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

@media (868px <= width < 1000px) {
  .container {
    gap: 2.5rem;
  }

  .lineOne {
    font-size: 3rem;
    line-height: 5.5rem;
  }

  .formContainer {
    width: 400px;
  }

  .field {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

@media (1000px <= width < 1148px) {
  .container {
    text-align: left;
    padding-right: 3rem;
    padding-left: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .lineOne {
    width: 450px;
    font-size: 2.43rem;
    line-height: 4.2rem;
  }

  .formContainer {
    width: 400px;
  }

  .field {
    font-size: 1.69rem;
    line-height: 2.5rem;
  }
}

@media (1148px <= width < 1440px) {
  .container {
    text-align: left;
    padding-right: 3rem;
    padding-left: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .lineOne {
    min-width: 580px;
    max-width: 580px;
    font-size: 3.25rem;
    line-height: 5rem;
  }

  .formContainer {
    width: 400px;
  }

  .field {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

@media (1440px <= width <= 1600px) {
  .container {
    text-align: left;
    padding-right: 3rem;
    padding-left: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .lineOne {
    min-width: 580px;
    max-width: 650px;
    font-size: 3.57rem;
    line-height: 5rem;
  }

  .formContainer {
    width: 400px;
  }

  .field {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

@media (1600px <= width <= 2500px) {
  .container {
    text-align: left;
    padding-right: 3rem;
    padding-left: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .lineOne {
    min-width: 650px;
    max-width: 750px;
    font-size: 4.4rem;
    line-height: 6rem;
  }

  .formContainer {
    width: 500px;
    padding: 6rem 6rem;
  }

  .field {
    font-size: 2.3rem;
  }
}

.fieldInputCurrent {
  background-color: #bbe1fa;
  border: 2px solid #bbe1fa;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  padding-top: 0.2rem;
  letter-spacing: 0.05rem;
  color: #1b262c;
  text-align: center;
  border-radius: 0.75rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: 600ms;
}
.fieldInputCurrent:focus {
  width: 300px;
  height: 50px;
  border-radius: 1rem;
  background-color: #1b262c;
  border: 1.5px solid #bbe1fa;
  color: #bbe1fa;
  box-shadow: 0 0 10px #3282b8;
}
.fieldInputCurrentFocus {
  width: 300px;
  height: 50px;
  border-radius: 1rem;
  background-color: #1b262c;
  border: 1.5px solid #bbe1fa;
  color: #bbe1fa;
  box-shadow: 0 0 10px #3282b8;
}
.fieldInputCurrent::placeholder {
  transition: 400ms;
  color: #6b818f;
  opacity: 1;
}
.fieldInputCurrent:focus::placeholder {
  opacity: 0;
  width: 300px;
}

.currentView {
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.addCurrent {
  position: absolute;
  isolation: isolate;
  color: #1b262c;
  transform: translateX(30px) translateY(26px);
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 400ms;
  opacity: 1;
  z-index: 10;
}

.currentViewSubActive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b262c;
  border: 2px solid #bbe1fa;
  letter-spacing: 0.05rem;
  text-align: center;
  border-radius: 0.75rem;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 600ms;
  box-shadow: 0 0 10px #3282b8;
}

.currentViewSubInactive {
  display: flex;
  background-color: #bbe1fa;
  border: 2px solid #bbe1fa;
  font-size: 1rem;
  border-radius: 0.75rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: 600ms;
}

.section {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.searchCurrentActive {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 105px;
  transition: 600ms;
  opacity: 0;
  transform: translateY(-25px);
}
.searchCurrentActive:focus {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 205px;
  transition: 600ms;
}
.searchCurrentActive::placeholder {
  color: #7baed1;
}
.searchCurrentActiveFocus {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 205px;
  transition: 600ms;
}
.searchCurrentActive2 {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 105px;
  transition: 600ms;
  opacity: 0;
}
.searchCurrentActive2:focus {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 205px;
  transition: 600ms;
}
.searchCurrentActive2::placeholder {
  color: #7baed1;
}

.addressFoundLabel1 {
  font-size: 0.85rem;
  opacity: 0;
  letter-spacing: 0.07rem;
  font-weight: 200;
  color: #7baed1;
  transition: 600ms;
}
.addressFoundLabel2 {
  font-size: 0.85rem;
  opacity: 1;
  letter-spacing: 0.07rem;
  font-weight: 200;
  color: #7baed1;
  transition: 600ms;
}

.addressFoundValue1 {
  font-size: 0.95rem;
  color: #bbe1fa;
  opacity: 0;
  font-family: "Josefin sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.09rem;
  transition: 600ms;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 300;
}
.addressFoundValue2 {
  font-family: "Josefin sans", sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 300;
  opacity: 1;
  cursor: default;
}

.currentFormBtn1 {
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  color: #bbe1fa;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 29px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  isolation: isolate;
  transform: translateY(100px) translateX(1.5px);
  transition: 600ms;
  opacity: 0;
}

.currentFormBtn2 {
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  color: #bbe1fa;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 29px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  isolation: isolate;
  transform: translateY(100px) translateX(1.5px);
  transition: 600ms;
  opacity: 1;
}
.currentFormBtn2:disabled {
  opacity: 0;
  cursor: default;
}
.currentFormBtn3 {
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  color: #bbe1fa;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 29px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  isolation: isolate;
  transform: translateY(100px) translateX(1.5px);
  transition: 600ms;
  opacity: 1;
}
.currentFormBtn3:disabled {
  opacity: 0;
  cursor: default;
}

.street2 {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 100px;
  transition: 600ms;
  opacity: 1;
}
.street2Focus {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 150px;
  transition: 600ms;
}
.street2:focus {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbe1fa;
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  text-align: center;
  width: 150px;
  transition: 600ms;
}
.street2::placeholder {
  color: #7baed1;
}
.street2Sub {
  margin-top: 0.2rem;
  display: flex;
  gap: 0.25rem;
}
.skipBtn {
  background-color: transparent;
  color: #7baed1;
  border: none;
  cursor: pointer;
  transition: 300ms;
}
.skipBtn:disabled {
  color: #6b818f;
  cursor: default;
}

.street3Sub {
  padding-top: 0.2rem;
  display: flex;
  gap: 1rem;
  text-align: center;
  transform: translateX(-5px);
}
.inputFieldMonthForm {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #bbe1fa;
  padding-bottom: 0.04rem;
  color: #7baed1;
  border-radius: 0px;
  outline: none;
  width: fit-content;
  font-size: 1rem;
  text-align: center;
}
.inputFieldMonthForm2 {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid #bbe1fa;
  color: #5a97c0;
  border-radius: 0px;
  outline: none;
  width: fit-content;
  font-size: 0.85rem;
  padding-bottom: 0.04rem;
  text-align: center;
}
.inputFieldMonthForm2:disabled {
  opacity: 0;
  cursor: default;
}

.inputFieldYearForm {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid #bbe1fa;
  color: #7baed1;
  width: fit-content;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 0px;
  outline: none;
}
.inputFieldYearForm::placeholder {
  font-size: 0.85rem;
  color: #6b818f;
}
.inputFieldYearForm2 {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid #bbe1fa;
  color: #5a97c0;
  width: 35px;
  text-align: center;
  font-size: 0.85rem;
  border-radius: 0px;
  outline: none;
}
.inputFieldYearForm2::placeholder {
  font-size: 0.8rem;
  color: #6b818f;
}
.inputFieldYearForm2:disabled {
  opacity: 0;
  cursor: default;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.subForm {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  transition: 400ms;
}

.subForm3Text1 {
  font-size: 0.85rem;
  color: #7baed1;
  transform: translateY(-15px);
}
.subForm3Text2 {
  font-family: "Josefin sans", sans-serif;
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  transform: translateY(-15px);
}

.pastFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 0.35rem;
  padding-top: 2rem;
  /* border: 1px solid gold; */
}
.pastFormSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
  /* border: 2px solid gold; */
}

.pastSection1 {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.pastSection2 {
  /* border: 1px solid gold; */
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 0.7rem;
}
.pastSection3 {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 600ms;
  gap: 1rem;
}

.addressCountDisplay {
  font-size: 0.85rem;
  color: #bbe1fa;
  letter-spacing: 0.05rem;
  opacity: 0;
  transition: 600ms;
}

.pastFormBtn {
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  color: #bbe1fa;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 29px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  isolation: isolate;
  transform: translateY(100px) translateX(1.8px);
  transition: 600ms;
  opacity: 1;
}
.pastFormBtn:disabled {
  opacity: 0;
  cursor: default;
}

.pastStreet2 {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #bbe1fa;
  outline: none;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  color: #5a97c0;
  text-align: center;
  width: 100px;
  transition: 600ms;
  opacity: 1;
}

.addressFoundValue3 {
  font-family: "Josefin sans", sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #bbe1fa;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 300;
  opacity: 0;
  cursor: default;
}

.pastStreet2::placeholder {
  color: #6b818f;
}
.pastStreet2:disabled {
  opacity: 0;
  cursor: default;
}

.heading {
  font-family: "Josefin sans", sans-serif;
  font-weight: 300;
  font-size: 3rem;
}
p {
  font-weight: 300;
  font-size: 1.15em;
  letter-spacing: 0.01rem;
}

.finishedBtn {
  font-size: 1rem;
  border: 1px solid #bbe1fa;
  margin: 0;
  letter-spacing: 0.2rem;
  padding-top: 0.3rem;
  padding-left: 0.1rem;
  background-color: transparent;
  color: #3282b8;
  cursor: pointer;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  box-shadow: 0 0 10px #3282b8;
  transition: 600ms;
  transform-origin: center;
  animation-name: btnAnimate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-delay: 500ms;
}
.finishedBtn:hover {
  height: 150px;
  width: 150px;
  animation: none;
  box-shadow: 0 0 10px #3282b8;
  color: #bbe1fa;
}

::ng-deep .pac-container {
  transition: 400ms;
  /* border: 2px solid #bbe1fa; */
  border-radius: 1rem;
  border: none;
  background-color: #1b262c;
  /* transform: translateY(70px); */
}

::ng-deep .pac-icon {
  display: none;
}

::ng-deep .pac-item {
  text-align: center;
  color: #bbe1fa;
  font-size: 0.9rem;
  border: none;
  /* border: 0.5px solid #7baed1; */
  border-radius: 0.45rem;
}
::ng-deep .pac-item:hover {
  background-color: #bbe1fa;
  text-align: center;
  color: #1b262c;
  cursor: pointer;
  border-radius: 0.45rem;
}

::ng-deep .pac-item:active {
  background-color: #bbe1fa;
  text-align: center;
  color: #1b262c;
  cursor: pointer;
  border-radius: 0.45rem;
}
::ng-deep .pac-item:focus {
  background-color: #bbe1fa;
  text-align: center;
  color: #1b262c;
  cursor: pointer;
  border-radius: 0.45rem;
}
::ng-deep .pac-item-selected {
  background-color: #bbe1fa;
  text-align: center;
  color: #1b262c;
  cursor: pointer;
  border-radius: 0.45rem;
}

::ng-deep .pac-item-query {
  color: #778e9e;
  font-size: 1rem;
}

::ng-deep a[href^="http://maps.google.com/maps"]
{
  display: none !important;
  background: none !important;
}
::ng-deep a[href^="https://maps.google.com/maps"]
{
  display: none !important;
  background: none !important;
}

::ng-deep .gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
  background: none !important;
}
::ng-deep .gmnoprint div {
  display: none;
  background: none !important;
}
